#logohead {
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
}
.logo {
    width: 150px;
    height: 100px;
    background: darkslategray;
    padding-top: 30px;
}
.header {
    width: 600px;
    height: 100px;
    background: darkslategray;
    padding-top: 30px;
    margin-left: 15px;
}
#body {
    display: flex;
    color: white;
    width: 765px;
    height: 845px;
    background: white;
    text-align: center;
    font-size: 25px;
}
.nav {
    width: 150px;
    height: 600px;
    background: darkslategray;
    margin-top: 15px;
    padding-top: 275px;
    box-sizing: border-box;
}
.store {
    width: 150px;
    height: 100px;
    background: darkslategray;
    margin-top: 15px;
    box-sizing: border-box;
    padding-top: 35px;
}
.tools {
    width: 150px;
    height: 100px;
    background: darkslategray;
    margin-top: 15px;
    box-sizing: border-box;
    padding-top: 35px;
}
.bath {
    width: 350px;
    height: 200px;
    background: darkslategray;
    margin-top: 15px;
    box-sizing: border-box;
    padding-top: 75px;
    margin-left: 15px;
}
.types {
    width: 350px;
    height: 615px;
    background: darkslategray;
    margin-top: 15px;
    margin-left: 15px;
    box-sizing: border-box;
    padding-top: 300px;
}
.ad {
    width: 235px;
    height: 200px;
    background: darkslategray;
    margin-top: 15px;
    margin-left: 15px;
    box-sizing: border-box;
    padding-top: 75px;
}
.related {
    width: 235px;
    height: 615px;
    background: darkslategray;
    margin-top: 15px;
    margin-left: 15px;
    box-sizing: border-box;
    padding-top: 300px;
}
.footer {
    width: 770px;
    height: 140px;
    background: darkslategray;
    box-sizing: border-box;
    margin-top: 15px;
    padding-top: 50px;
    font-size: 25px;
    color: white;
    text-align: center;
}
@media screen and (min-width: 0) and (max-width: 576px) {
    #logohead {
        font-size: 15px;
    }
    .logo {
        width: 75px;
        height: 75px;
        box-sizing: border-box;
    }
    .header {
        width: 250px;
        height: 75px;
        margin-left: 1px;
        box-sizing: border-box;
    }
    #body {
        display: flex;
        font-size: 15px;
        flex-direction: column;
    }
    .nav {
        color: white;
        padding-top: 25px;
        margin-top: 1px;
        width: 326px;
        height: 75px;
        box-sizing: border-box;
    }
}