body {
    background: black;
    font-size: xxx-large;
}
.okten1 {
    box-sizing: border-box;
    border: 10px solid #ef9307;
    border-radius: 50px;
    height: 100px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 30px;
    margin-top: 400px;
    margin-left: 1100px;
}
.okten2 {
    box-sizing: border-box;
    border: 10px solid #29fcfc;
    border-radius: 50px;
    height: 100px;
    width: 500px;
    margin-top: 50px;
    margin-left: 1100px;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 30px;
}
.okten3 {
    box-sizing: border-box;
    border: 10px solid #ff55a7;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 1100px;
    height: 100px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 30px;
}
.okten4 {
    box-sizing: border-box;
    border: 10px solid #FF0202FF;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 1100px;
    height: 100px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 30px;
}