#father {
    width: 1020px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
#first_block {
    background: white;
    height: 150px;
    width: 1020px;
}
#second_block {
    background: white;
    height: 450px;
    width: 750px;
}
#sec_small {
    flex-direction: row;
    display: flex;
    margin-top: 20px;
}
#third_block {
    background: white;
    height: 450px;
    width: 250px;
}

.task_1 {
    box-sizing: border-box;
    width: 1000px;
    height: 200px;
    background: tomato;
    font-size: 50px;
    padding-top: 50px;
}
.task_2 {
    box-sizing: border-box;
    width: 750px;
    height: 150px;
    background: #d52c2c;
    font-size: 50px;
    padding-top: 50px;
    margin-top: 20px;
}
.task_3 {
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    background: silver;
    font-size: 50px;
    padding-top: 75px;
}
.task_4 {
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    background: tomato;
    font-size: 50px;
    padding-top: 75px;
    margin-left: 20px;
}
.task_5 {
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    background: #d52c2c;
    font-size: 50px;
    padding-top: 75px;
    margin-left: 20px;
}
.task_6 {
    box-sizing: border-box;
    width: 230px;
    height: 470px;
    background: #911010;
    font-size: 50px;
    padding-top: 200px;
    margin-left: 20px;
    margin-top: 20px;
}