* {
    font-family: 'Lato', sans-serif;
    box-sizing: inherit;
}
.header {
    height: 1000px;
}
.top {
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.nvg_menu_item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    margin-right: 10px;
}
.nvg_menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nvg_menu_item__sprig {
    margin-right: 50px;
}
.nvg_menu_item__sprig:hover, .nvg_menu_item__product:hover, .nvg_menu_item__customers:hover, .nvg_menu_item__resources:hover, .nvg_menu_item__plans:hover  {
    text-shadow: -1px -3px 15px rgba(0,0,0,0.59)
}
.fa-angle-down {
    margin-left: 10px;
    margin-right: 50px;
}
.buttons {
    margin-left: 100px;
    column-gap: 24px;
    display: flex;
    cursor: pointer;
}
.start {
    height: 50px;
    width: 163px;
    border-radius: 4px;
    background: black;
    color: white;
    cursor: pointer;
}
.sign, .talk {
    padding-top: 15px;
}
.sign:hover, .talk:hover {
    text-shadow: -1px -3px 15px rgba(0,0,0,0.59)
}
.start:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.full_content {
    display: flex;
    justify-content: space-between;
}
.orange_theme {
    margin-top: 14px;
    margin-left: 730px;
    width: 600px;
    height: 886px;
    background: orange;
    position: absolute;
}
.content_image {
    position: relative;
    margin-top: 200px;
    margin-right: 100px;
    width: 608px;
    height: 541px;
}
.header_title {
    font-size: 60px;
    line-height: 64px;
    margin-top: 170px;
    margin-bottom: 32px;
    margin-left: 147px;
    width: 390px;
    height: 250px;
}
.text {
    font-size: 22px;
    line-height: 32px;
    padding-left: 147px;
    height: 96px;
    width: 435px;
}
.start_bottom {
    margin-left: 147px;
    width: 163px;
    height: 54px;
    background: orange;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid   orange;
    border-radius: 5px;
    cursor: pointer;
}
.start_bottom:hover, .talk_bottom:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.talk_bottom {
    width: 163px;
    height: 54px;
    box-sizing: border-box;
    background: white;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
}
.trusted_title {
    margin-top: 100px;
    margin-left: 400px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    width: 547px;
    height: 96px;
}
.logos {
    margin-top: 50px;
    margin-left: 150px;
}
.pd_r {
    padding-right: 80px;
}
.pd_b {
    padding-bottom: 16px;
}
.full_bicycle {
    width: 1270px;
    margin-top: 150px;
    margin-left: 30px;
    background: cornflowerblue;
    display: flex;
}
.bicycle_title {
    margin-top: 80px;
    width: 540px;
    height: 120px;
    font-size: 34px;
    line-height: 40px;
}
.bicycle_text {
    width: 540px;
    height: 65px;
    font-size: 22px;
    line-height: 32px;
}
.sprig_makes {
    width: 700px;
    height: 80px;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    margin-top: 180px;
    margin-left: 350px;
}
.sprig_image {
    margin-top: 55px;
    margin-left: 260px;
}
.sprig_bottom {
    margin-top: 100px;
    margin-left: 600px;
    width: 163px;
    height: 54px;
    background: orange;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid   orange;
    border-radius: 5px;
    cursor: pointer;
}
.sprig_bottom:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.purple {
    width: 1200px;
    height: 530px;
    background: #886dc7;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 100px;
}
.purple_title {
    width: 485px;
    height: 190px;
    font-size: 42px;
    line-height: 48px;
    padding-top: 100px;
    padding-left: 580px;
}
.purple_text {
    width: 550px;
    height: 55px;
    font-size: 17px;
    line-height: 28px;
    padding-top: 40px;
    padding-left: 580px;
}
.purple_img {
    position: absolute;
    margin-top: 240px;
    margin-left: 20px;
}
.solutions {
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    color: #6A7981;
    padding-top: 140px;
}
.pd_l {
    padding-left: 140px;
}
.sprig_title {
    font-size: 42px;
    line-height: 48px;
    width: 590px;
    height: 140px;
    padding-top: 15px;
}
.solution_helps {
    font-size: 20px;
    line-height: 32px;
    color: #375361;
    padding-top: 25px;
}
.message_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #886dc7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 230px;
    margin-left: 140px;
}
.message_icon > i {
    font-size: 30px;
    cursor: pointer;
}
.message_icon:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.contextual {
    font-size: 34px;
    line-height: 40px;
    padding-top: 35px;
    padding-left: 140px;
}
.cntxl_img {
    position: absolute;
    margin-top: 130px;
    margin-left: 800px;
}
.keep_constant {
    width: 480px;
    height: 80px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.learn_more {
    width: 140px;
    height: 50px;
    box-sizing: border-box;
    background: white;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
}
.learn_more:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.camera_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #51CEBC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 170px;
    margin-left: 140px;
}
.camera_icon:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.camera_icon > i {
    font-size: 20px;
    cursor: pointer;
}
.camera_title {
    font-size: 34px;
    line-height: 40px;
    padding-top: 25px;
}
.camera_text {
    width: 470px;
    height: 80px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.camera_img {
    position: absolute;
    margin-top: 120px;
    margin-left: 800px;
}
.test_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 170px;
    margin-left: 140px;
}
.test_icon:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.test_icon > i {
    font-size: 23px;
    cursor: pointer;
}
.test_title {
    font-size: 34px;
    line-height: 40px;
    padding-top: 25px;
    padding-left: 140px;
}
.test_text {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 490px;
    height: 100px;
}
.test_img {
    position: absolute;
    margin-top: 150px;
    margin-left: 820px;
}
.test_buttons {
    margin-left: 125px;
}
.left_button, .center_button {
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #61757E;
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
}
.left_button:hover, .center_button:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.right_button {
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #0B2330;
    margin-left: 15px;
    background: orange;
    border: 1px solid orange;
    border-radius: 2px;
    cursor: pointer;
}
.right_button:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.bootstrap {
    margin-top: 150px;
    height: 960px;
    background: #F2EDE7;
}
.bootstrap_img {
    position: absolute;
    margin-top: 400px;
    margin-left: 650px;
}
.accord {
    width: 580px;
    position: absolute;
    margin-top: 380px;
    margin-left: 720px;
}
.accordion-body {
    background: #F2EDE7;
}
.accordion-button {
    text-decoration: none;
    background: #F2EDE7;
}
.title_accord {
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
}
.accord_text1, .accord_text2 {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}
.learn {
    font-size: 14px;
    line-height: 28px;
    color: #0B2330;
    background: white;
}
.features {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #375361;
    padding-top: 100px;
}
.bootstrap_title {
    font-size: 60px;
    line-height: 64px;
    width: 1060px;
    height: 125px;
}
.arrows {
    width: 470px;
    height: 480px;
    margin-top: 120px;
    margin-left: 140px;
}
.integrations {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #375361;
    margin-top: 180px;
}
.intgr_title {
    font-size: 34px;
    line-height: 40px;
    width: 670px;
    height: 120px;
}
.intgr_text {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 650px;
    height: 85px;
    padding-top: 35px;
}
.see_all {
    font-size: 16px;
    line-height: 24px;
    width: 200px;
    height: 50px;
    background: orange;
    border-radius: 5px;
    border: 1px solid orange;
    margin-top: 50px;
    cursor: pointer;
}
.see_all:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.logo_img {
    position: absolute;
    margin-left: 900px;
    margin-top: 150px;
}
.study_background {
    margin-top: 500px;
    margin-left: 50px;
    width: 600px;
    height: 580px;
    background: #F2EDE7;
    border-radius: 10px;
}
.case_study {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #375361;
    padding-top: 70px;
    padding-left: 80px;
}
.study_title {
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    width: 320px;
    height: 65px;
}
.study_text {
    font-size: 13px;
    line-height: 28px;
    color: #0B2330;
    width: 325px;
    height: 80px;
    padding-top: 25px;
}
.read_more {
    width: 120px;
    height: 35px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 24px;
    margin-top: 35px;
    cursor: pointer;
}
.read_more:hover {
    box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.47);
}
.orange_study {
    width: 650px;
    height: 580px;
    background: orange;
    position: absolute;
    margin-left: 600px;
    border-radius: 10px;
}
.orange_title {
    font-size: 26px;
    line-height: 40px;
    width: 560px;
    height: 240px;
    padding-top: 70px;
    padding-left: 50px;
}
.orange_img {
    margin-top: 80px;
    margin-left: 50px;
    position: absolute;
}
.name {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    padding-top: 90px;
    padding-left: 140px;
}
.guy_position {
    font-size: 12px;
    line-height: 28px;
    color: #2F3F48;
    padding-top: 110px;
    padding-left: 140px;
}
.launch_background {
    margin-top: 250px;
    width: 1280px;
    height: 430px;
    background: #0B2330;
    position: absolute;
}
.launch_title {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    width: 610px;
    height: 100px;
    padding-top: 50px;
    padding-left: 350px;
}
.title_text {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 640px;
    height: 60px;
    padding-top: 20px;
    padding-left: 360px;
}
.central_button {
    width: 150px;
    height: 50px;
    background: orange;
    border-radius: 5px;
    border: 1px solid orange;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 580px;
    cursor: pointer;
}
.central_button:hover {
    box-shadow: -1px 3px 10px 3px rgb(148, 141, 130);
    -webkit-box-shadow: -1px 3px 10px 3px rgb(236, 159, 13);
    -moz-box-shadow: -1px 3px 10px 3px rgb(225, 151, 9);
}
.sprig_background {
    margin-top: 79px;
    width: 1280px;
    height: 600px;
    background: #0B2330;
}
.sprig_logo {
    margin-top: 70px;
    margin-left: 30px;
}
.product {
    padding-top: 70px;
    padding-left: 260px;
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
    position: absolute;
}
.code {
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
}
.stories {
    padding-top: 70px;
    padding-left: 500px;
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
    position: absolute;
}
.company {
    padding-top: 70px;
    padding-left: 770px;
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
    position: absolute;
}
.resources {
    padding-top: 70px;
    padding-left: 1000px;
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
    position: absolute;
}
.copyright {
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
    padding-top: 80px;
}
.facebook {
    position: absolute;
    margin-top: 460px;
    margin-left: 850px;
    cursor: pointer;
}
.instagram {
    position: absolute;
    margin-top: 460px;
    margin-left: 900px;
    cursor: pointer;
}
.twitter {
    position: absolute;
    margin-top: 460px;
    margin-left: 950px;
    cursor: pointer;
}